.work-management {
  padding: 10px;
  margin: 0;
}

mat-card-title {
  padding: 0;
  margin: 0;
}
.advanced-settings {
  margin: 20px 0 0 0;
}

.settings-button {
  position: absolute;
  right: 2px;
  top: 8px;
}
