.dialog-modal {
  background-color: white;
  width: 100%;
}

atx-discard-changes {
  background-color: white;
}
mat-list-item {
  color: black;
}
table {
  width: 100%;
}
.cdk-overlay-pane {
  width: 100% !important;
}
.mat-dialog-container {
  width: 80vw;
}
.mat-column-name {
  flex: 0 0 100px;
}

.right-justify {
  flex: 1 1 auto;
}
