<atx-category-selector
  [validationMessages]="wffService.validationMessages$ | async"
  [showValidationMessages]="showValidationMessages"
  [selectedCategoryTypeID]="selectedCategoryTypeID$ | async"
  [selectedIssueClass]="selectedIssueClass$ | async"
  [issueClasses]="issueClasses$ | async"
  [formState]="formState"
  [assetClassTypes]="assetClasses$ | async"
  [editingWhichName]="editingWhichName"
  [waitingOnCategoryResponse]="waitingOnCategoryResponse$ | async"
  (changeSelectedIssueClass)="changeSelectedIssueClass($event)"
  (changeSelectedCategory)="changeSelectedCategory($event)"
  (addCategoryEmit)="addCategoryEvent()"
  (editCategoryEmit)="editCategoryEvent()"
  (categorySaveChanges)="saveCategoryChanges()"
  (categoryDiscardChanges)="discardCategoryChanges()"
  (assetClassTypeSelection)="assetClassTypeSelection($event)"
  (deleteCategory)="deleteCategoryEvent()"
>
</atx-category-selector>
<atx-statuses
  [validationMessages]="wffService.validationMessages$ | async"
  [showValidationMessages]="showValidationMessages"
  [issueClassDesc]="(selectedIssueClass$ | async)?.IssueClassDesc"
  [selectedAssetClassTypes]="selectedAssetClassTypes$ | async"
  [formState]="formState"
  [numResolutionStatuses]="numResolutionStatuses"
  [workflowForm]="wffService.workflowForm$ | async"
  [selectedDrawerItemForStatus]="selectedDrawerItemForStatus"
  [editingWhichName]="editingWhichName"
  [savedNameForEdit]="savedNameForEdit"
  [expandAllAccordions]="expandAllAccordions"
  [showSettingsButton]="showSettingsButton"
  [settingsOpen]="settingsOpen"
  (deleteAction)="deleteAction($event)"
  (deleteResolutionStatus)="deleteResolutionStatus($event)"
  (addAction)="addAction($event)"
  (actionTypeChanged)="actionTypeChanged($event)"
  (selectDrawerItem)="selectDrawerItem($event)"
  (startEditingName)="startEditingName($event)"
  (stopEditingName)="stopEditingName()"
  (cancelEditingName)="cancelEditingName()"
  (expandAllToggle)="expandAllToggle()"
  (openSettings)="openSettings()"
  (closeSettings)="closeSettings()"
  (settingsButtonClicked)="settingsButtonClicked()"
  (changeSelectedMap)="changeSelectedMap($event)"
  [mapsForAsset]="mapsForAsset$ | async"
  [layerForMap]="layerForMap$ | async"
></atx-statuses>
